.skeletonCard {
    height: 420px;
    background-color: #131116;
    border-radius: 32px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #2d2833;
}

.skeletonImage {
    flex: 1;
    width: 100%;
    border-radius: 24px;
    background-color: #1f1d24;
    margin-bottom: 15px;
}

.skeletonContent {
    padding: 10px;
}

.skeletonTitle {
    width: 70%;
    height: 24px;
    border-radius: 6px;
    background-color: #1f1d24;
    margin-bottom: 10px;
}

.skeletonBadge {
    width: 30%;
    height: 20px;
    border-radius: 99px;
    background-color: #1f1d24;
}

/* Efeito de brilho passando (Shimmer) */
.shimmer {
    position: relative;
    overflow: hidden;
}
.shimmer::after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.05) 20%,
        rgba(255, 255, 255, 0.1) 60%,
        rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
}

@keyframes shimmer {
    100% { transform: translateX(100%); }
}